<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Roomies</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/styles.css" rel="stylesheet" />
        <link href="/edits.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-green">
                <div class="container px-5">
                    <a class="navbar-brand" href="/">And They Were Roommates</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                            <!-- <li class="nav-item"><a class="nav-link" href="#">About</a></li> -->
                            <!-- <li class="nav-item"><a class="nav-link" href="#">Contact</a></li> -->
                            <!-- <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li> -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Groups</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <% if (allGroups.length === 0){%>
                                        <li>You have no Groups</li>
                                        <%} else {%>
                                    <% for(let i=0; i<allGroups.length; i++) {%>
                                        <li><a class="dropdown-item" href="/groups/<%= allGroups[i]._id%>"><%= allGroups[i].groupName %></a></li>
                                        <%}%>
                                        <%}%>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Add Apartment</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                    <% if (allGroups.length === 0){%>
                                        <li>You have no Groups</li>
                                        <%} else {%>
                                    <% for(let i=0; i<allGroups.length; i++) {%>
                                        <li><a class="dropdown-item" href="/form/<%= allGroups[i]._id%>"><%= allGroups[i].groupName %></a></li>
                                        <%}%>
                                        <%}%>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Portfolio</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                    <li><a class="dropdown-item" href="#">Portfolio Overview</a></li>
                                    <li><a class="dropdown-item" href="#">Portfolio Item</a></li>
                                </ul>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </nav>

            <section class="bg-color-two py-5">
                <div class="container px-5 my-5">
                    <div class="card bg-light">
                        <div class="card-body p-5">
                            
                            <div class="mb-3">
                                <h1>Add an apartment to <a href="/groups/<%=currentGroup[0]._id%>"><%=currentGroup[0].groupName%></a>!</h1>
                            </div>
                            <form action="/apartments" method="post">
                                <input type="hidden" name="groupId" value="<%=currentGroup[0]._id%>">
                                <ul class="list-unstyled mb-4">
                                    <li class="input-group mb-2">
                                        <span class="input-group-text">Address</span>
                                        <input required type="text" class="form-control" placeholder="Street Address & Unit #" name="street">
                                        <input required type="text" class="form-control" placeholder="City" name="city">
                                        <input required type="text" class="form-control" placeholder="State" name="state">
                                        <input required type="text" class="form-control" placeholder="Zipcode" name="zipcode">
                                    </li>
                                    <li class="input-group mb-2">
                                        <span class="input-group-text">Point of Contact:</span>
                                        <input type="text" class="form-control" placeholder="Name" name="contactName">
                                        <input type="text" class="form-control" placeholder="Number" name="contactNumber">
                                        <input type="text" class="form-control" placeholder="E-mail" name="contactEmail">
                                    </li>
                                    <li class="input-group mb-2">
                                        <input required type="text" class="form-control" placeholder="Enter Bedrooms" name="bed">
                                        <input required type="text" class="form-control" placeholder="Enter Bathrooms" name="bath">
                                        <input required type="text" class="form-control" placeholder="Enter Price per Month" name="price">
                                    </li>
                                    <li class="mb-2">
                                        <h6>Utilites Included</h6>
                                        <div class="utilites d-flex justify-content-space between" >
                                            <div class="input-group mb-3 mx-2">
                                                <div class="input-group-text">
                                                    <input class="form-check-input" type="checkbox" value="Water & Sewer" name="utilites">
                                                </div>
                                                <label class="form-control" for="waterSewer">Water & Sewer</label>
                                            </div>
                                            <div class="input-group mb-3 mx-2">
                                                <div class="input-group-text">
                                                    <input type="checkbox" value="Trash & Recycling" name="utilites">
                                                </div>
                                                <label class="form-control" for="waterSewer">Trash & Recycling</label>
                                            </div>
                                            <div class="input-group mb-3 mx-2">
                                                <div class="input-group-text">
                                                    <input type="checkbox" value="Gas" name="utilites">
                                                </div>
                                                <label class="form-control" for="gas">Gas</label>
                                            </div>
                                            <div class="input-group mb-3 mx-2">
                                                <div class="input-group-text">
                                                    <input type="checkbox" value="Electricity" name="utilites">
                                                </div>
                                                <label class="form-control" for="electricity">Electricity</label>
                                            </div>
                                            <div class="input-group mb-3 mx-2">
                                                <div class="input-group-text">
                                                    <input type="checkbox" value="Heat" name="utilites">
                                                </div>
                                                <label class="form-control" for="heat">Heat</label>
                                            </div>
                                            <div class="input-group mb-3 mx-2">
                                                <div class="input-group-text">
                                                    <input type="checkbox" value="Internet" name="utilites">
                                                </div>
                                                <label class="form-control" for="internet">Internet</label>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="d-flex justify-content-between mb-2">
                                        <div class="input-group">
                                            <span class="input-group-text">Amentities:</span>
                                            <textarea name="amenities" placeholder="ie. laundry, dishwasher, etc." id="" cols="30" rows="3"></textarea>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-text">Additional Information</span>
                                            <textarea name="additionalInfo" placeholder="grocery stores, restaurants, parks, links, etc." id="" cols="30" rows="3"></textarea>
                                        </div>
                                    </li>
                                </ul>
                                <button type="submit" class="btn bg-button">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        <!-- Footer-->
        <footer class="bg-green py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Kelly Chhe 2022</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="main.js"></script>
    </body>
</html>
