<!doctype html>
<head>
  <html>
    <title>And They Were Roommates</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a href="#" class="navbar-brand">And They Were Roommates</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span class="navbar-toggler-icon"></span></button>
      
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Your List</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Things to Buy</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Notifications</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Me!</a></li>
          <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
      </ul>
      </div>
    </div>
  </nav>

  <div class="col-sm-8">
    <h1>Add an apartment!</h1>
    <form action="/apartments" method="POST">
      <div class="input-group mb-3">
        <span class="input-group-text">Address</span>
        <input type="text" class="form-control" placeholder="Street Address & Unit #" name="street">
        <input type="text" class="form-control" placeholder="City" name="city">
        <input type="text" class="form-control" placeholder="State" name="state">
        <input type="text" class="form-control" placeholder="Zipcode" name="zipcode">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Point of Contact:</span>
        <input type="text" class="form-control" placeholder="Name" name="contactName">
        <input type="text" class="form-control" placeholder="Number" name="contactNumber">
        <input type="text" class="form-control" placeholder="E-mail" name="contactEmail">
      </div>
        
      <h5>Apartment Information:</h5>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter Bedrooms" name="bed">
        <input type="text" class="form-control" placeholder="Enter Bathrooms" name="bath">
        <input type="text" class="form-control" placeholder="Enter Price per Month" name="price">
      </div>
      
      <h6>Utilites Included</h6>
      <div class="utilites d-flex justify-content-space between" >
        <div class="input-group mb-3 mx-2">
          <div class="input-group-text">
            <input class="form-check-input" type="checkbox" value="Water & Sewer" name="utilites">
          </div>
            <label class="form-control" for="waterSewer">Water & Sewer</label>
        </div>
        <div class="input-group mb-3 mx-2">
          <div class="input-group-text">
            <input type="checkbox" value="Trash & Recycling" name="utilites">
          </div>
            <label class="form-control" for="waterSewer">Trash & Recycling</label>
        </div>
        <div class="input-group mb-3 mx-2">
          <div class="input-group-text">
            <input type="checkbox" value="Gas" name="utilites">
          </div>
            <label class="form-control" for="gas">Gas</label>
        </div>
        <div class="input-group mb-3 mx-2">
          <div class="input-group-text">
            <input type="checkbox" value="Electricity" name="utilites">
          </div>
            <label class="form-control" for="electricity">Electricity</label>
        </div>
        <div class="input-group mb-3 mx-2">
          <div class="input-group-text">
            <input type="checkbox" value="Heat" name="utilites">
          </div>
            <label class="form-control" for="heat">Heat</label>
        </div>
        <div class="input-group mb-3 mx-2">
          <div class="input-group-text">
            <input type="checkbox" value="Internet" name="utilites">
          </div>
            <label class="form-control" for="internet">Internet</label>
        </div>
      </div>
      <div class="d-flex justify-content-between mb-3">
        <div class="input-group">
          <span class="input-group-text">Amentities:</span>
          <textarea name="amenities" placeholder="ie. laundry, dishwasher, etc." id="" cols="30" rows="3"></textarea>
        </div>
        <div class="input-group">
          <span class="input-group-text">Additional Information</span>
          <textarea name="additionalInfo" placeholder="grocery stores, restaurants, parks, links, etc." id="" cols="30" rows="3"></textarea>
        </div>
      </div>
      <button type="submit" class="btn">Submit</button>
        
    </form>
  </div>        
  
  <main>
    <% for(var i=0; i<apartments.length; i++) {%>
    <section class="card col-md-6" id="<%=apartments[i]._id%>">
      <h3><%= apartments[i].street %></h3>
      <h5><%= apartments[i].city %>, <%= apartments[i].state %> <%= apartments[i].zipcode %></h5>
      <p><%= apartments[i].contactName %>: <%= apartments[i].contactEmail %> <%= apartments[i].contactNumber %></p>
      <span><%= apartments[i].price %>/month</span>
      <span><%= apartments[i].bed %> Bedroom(s), <%= apartments[i].bath %> Bathroom(s)</span>
      <div class="accordion" id="apartmentDetails">
        <div class="accordion-item">
          <h4 class="accordion-header" id="headingOne">Apartment Information</h4>
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"> 
            <p>Utilites Included: <%= apartments[i].utilites %></p>
            <p>Amenities Included: <%= apartments[i].amenities %></p>
            <p>Additional Information: <%= apartments[i].additionalInfo %></p>
          </button>
        </div>
      </div>
      <div>
        <h3>Opinions?</h3>

        <h4>Pros</h4>
        <% for(var j=0; j<apartments[i].pros.length; j++) {%>
          <span><%=apartments[i].pros[j].name%></span>
          <p><%=apartments[i].pros[j].pro%></p>
          <% } %>
        <form action="/pros" method="POST">
            <h6>Pros</h6>
            <input type="hidden" name="hiddenId" value="<%=apartments[i]._id%>">
            <input type="text" value="<%= user.local.email %>" name="name">
            <textarea name="pros" placeholder="Enter Pros" id="" cols="30" rows="3"></textarea>
            <button>Pros</button>
        </form>
        <h4>Cons</h4>
        <% for(var j=0; j<apartments[i].cons.length; j++) {%>
          <p><%=apartments[i].cons[j].name%></p>
          <p><%=apartments[i].cons[j].con%></p>
          <% } %>
        <form action="/cons" method="POST">
            <h6>Cons</h6>
            <input type="hidden" name="hiddenId" value="<%=apartments[i]._id%>">
            <input type="text" value="<%= user.local.email %>" name="name">
            <textarea name="cons" placeholder="Enter Cons" id="" cols="30" rows="3"></textarea>
            <button>Cons</button>
        </form>
      </div>
        <button class="delete">Delete</button>
    </section>
    <% } %>
  </main>

</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="main.js"></script>

</body>

</html>
